.addbtn {
  position: relative;
  display: flex;

  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 6px;

  width: calc(140px - 12px - 12px);

  padding: 11px;

  cursor: pointer;

  transition: 0.2s;
}

.addbtn:hover {
  background-color: #171717;
}

.addbtn:active {
  background-color: #292929;
}

.addbtn::after {
  content: "";
  background-image: url("../../../../public/icons/add.png");
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
}
