.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  background-color: #3fc4fd;
  color: #000000;

  border: 0;
  border-radius: 4px;

  transition: 0.2s;

  font-family: inherit;
}

.button:hover {
  filter: brightness(0.8);
}

.button:active {
  filter: brightness(1.2);
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;

  height: 100%;
  width: 100%;
}

/* --------- SIZES --------- */

.small {
  width: 85px;
  min-height: 30px;
  height: 30px;
  font-size: 14px;
}

.small-gray {
  width: 85px;
  min-height: 30px;
  height: 30px;
  font-size: 14px;
  background-color: #c4c4c4;
}

.regular {
  width: 139px;
  min-height: 54px;
  height: 54px;
  font-size: 18px;
}

.large {
  width: 180px;
  min-height: 60px;
  height: 60px;
  font-size: 20px;
}
